{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/dashboard.css' %}" />
{% endblock %}

{% block content %}
    <section class="content pure-g">
        {% if messages %}
            <aside class="pure-u-1">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" >
                        {{ message }}<span class="closebtn">&times;</span>
                    </div>
                {% endfor %}
            </aside>
        {% endif %}
        <h1 class="pure-u-1">Meu Painel</h1>
        <div class="pure-u-1">
            <ul class="breadcrumb">
                {% block breadcrumb %}
                    <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
                {% endblock %}
            </ul>
        </div>
        <nav class="pure-menu submenu pure-u-1-3">
            {% with request.resolver_match.view_name as view %}
                <ul class="pure-menu-list">
                    {% block menu_options %}
                        <li class="pure-menu-heading">Cursos</li>
                        {% for enrollment in enrollments %}
                            <li class="pure-menu-item">
                                <a href="{% url 'courses:announcements' enrollment.course.slug %}" class="pure-menu-link">
                                    <i class="fas fa-book"></i>
                                    {{ enrollment.course }}
                                </a>
                            </li>
                            {% empty %}
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">
                                    Nenhum curso
                                </a>
                            </li>
                        {% endfor %}
                        <li class="pure-menu-heading">Conta</li>
                        <li class="pure-menu-item {% if view == 'accounts:edit' %}pure-menu-selected{% endif %}">
                            <a href="{% url 'accounts:edit' %}" class="pure-menu-link">
                                <i class="fas fa-cog"></i>
                                Editar Conta
                            </a>
                        </li>
                        <li class="pure-menu-item {% if view == 'accounts:password' %}pure-menu-selected{% endif %}">
                            <a href="{% url 'accounts:password' %}" class="pure-menu-link">
                                <i class="fas fa-lock"></i>
                                Editar Senha
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            {% endwith %}
        </nav>
        <article class="pure-u-2-3 panel-content">
            {% block panel-content %}
            {% endblock %}
        </article>
    </section>
{% endblock %}
