{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/dashboard.css' %}" />
{% endblock %}
{% block content %}
    <section class="content pure-g">
        <h1 class="pure-u-1">Meu Painel</h1>
        <div class="pure-u-1">
            <ul class="breadcrumb">
                {% block breadcrumb %}
                    <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
                {% endblock %}
            </ul>
        </div>
        <nav class="pure-menu submenu pure-u-1-3">
            {% with request.resolver_match.view_name as view %}
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">Meus Cursos</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Curso 1</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Curso 2</a></li>
                    <li class="pure-menu-heading">Meu Cadastro</li>
                    <li class="pure-menu-item {% if view == 'accounts:edit' %}pure-menu-selected{% endif %}"><a href="{% url 'accounts:edit' %}" class="pure-menu-link">Editar Conta</a></li>
                    <li class="pure-menu-item {% if view == 'accounts:password' %}pure-menu-selected{% endif %}"><a href="{% url 'accounts:password' %}" class="pure-menu-link">Editar Senha</a></li>
                </ul>
            {% endwith %}
        </nav>
        <article class="pure-u-2-3 panel-content">
            {% block panel-content %}

            {% endblock %}
        </article>
    </section>
{% endblock %}
