{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} | Dashboard
{% endblock %}

{% block panel-content %}
    <h2>Meus Cursos</h2>
    {% for enrollment in enrollments %}
        <div class="well">
            <h3>
                {{ enrollment.course }} ({{ enrollment.course.start_date | date:'d/m/Y'|default:'Sem Data' }})
            </h3>
            <p>
                {{ enrollment.course.description|linebreaks }}
            </p>
            <div class="pure-controls">
                <a href="{% url 'courses:announcements' enrollment.course.slug %}" class="pure-button pure-button-primary">Acessar</a>
                <a href="{% url 'courses:undo-enrollment' enrollment.course.slug %}" class="pure-button button-error">Cancelar</a>
            </div>
        </div>
        {% empty %}
        <div class="pure-u-1">
            <p>Nenhum curso inscrito</p>
        </div>
    {% endfor %}
{% endblock %}
