import os

#
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# Let it debug
DEBUG = True

 # No password validation
AUTH_PASSWORD_VALIDATORS = []

# Using SQLite 3 for migrations and tests.
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
