{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>{% block title %} Simple MooC {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <script src="{% static 'js/menu.js' %}" defer></script>
        <script src="{% static 'js/message.js' %}" defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="menu pure-menu pure-menu-horizontal pure-menu-fixed js" role=navigation>
                <a href="{% url 'core:home' %}" class="pure-menu-heading pure-menu-link">Simple MooC</a>
                <button id="toggle" aria-expanded="false" aria-controls="menu">
                    <span>Menu</span>
                </button>
                {% with request.resolver_match.view_name as view %}
                    <ul id="menu" class="pure-menu-list">
                        <li class="pure-menu-item {% if view == 'core:home' %}pure-menu-selected{% endif %} "><a href="{% url 'core:home' %}" class="pure-menu-link">Início</a></li>
                        <li class="pure-menu-item {% if 'courses:' in view %}pure-menu-selected{% endif %}"><a href="{% url 'courses:index' %}" class="pure-menu-link">Cursos</a></li>
                        <li class="pure-menu-item {% if view == 'core:contact' %}pure-menu-selected{% endif %}"><a href="{% url 'core:contact' %}" class="pure-menu-link">Contato</a></li>
                        {% if user.is_authenticated  %}
                            <li class="pure-menu-heading account">Olá {{ user }}</li>
                            <li class="pure-menu-item {% if view == 'accounts:logout' %}pure-menu-selected{% endif %}"><a href="{% url 'accounts:logout' %}" class="pure-menu-link">Sair</a></li>
                        {% else %}
                            <li class="pure-menu-item account {% if view == 'accounts:login' %}pure-menu-selected{% endif %}"><a href="{% url 'accounts:login' %}" class="pure-menu-link">Entrar</a></li>
                            <li class="pure-menu-item {% if view == 'accounts:register' %}pure-menu-selected{% endif %}"><a href="{% url 'accounts:register' %}" class="pure-menu-link">Registrar</a></li>
                        {% endif %}
                    </ul>
                {% endwith %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            Simple MOOC - Uma simples plataforma de ensino a distância
        </footer>
    </body>
</html>
