{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} | Contact
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<section class="content">
        <article>
            <h1>Fale conosco</h1>
            <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:contato@simplemooc.org">contato@simplemooc.org</a></li>
                <li>Twitter: <a href="https://twitter.com/simplemooc">@simplemooc</a></li>
            </ul>
        </article>
    </section>
{% endblock %}
