{% extends "courses/base_courses.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:announcements' course.slug %}">
            Anúncios
        </a>
    </li>
{% endblock %}

{% block panel-content %}

    {% for announcement in announcements %}
        <div class="well">
            <h2>
                <a href="{% url 'courses:show-announcement' course.slug announcement.id %}">
                    {{ announcement }}
                </a>
            </h2>
            <p>
                {{ announcement.content | linebreaks }}
            </p>
            <p>
                    <a href="{% url 'courses:show-announcement' course.slug announcement.id %}#comments">
                    <i class="fas fa-comments"></i>
                    {% with announcement.comments.count as contagem %}
                        {{ contagem }} Comentário{{ contagem|pluralize }}
                    {% endwith %}
                </a>
            </p>
        </div>
        {% empty %}
        <div class="well">
            <h2>Nenhum anúncio no momento!</h2>
        </div>
    {% endfor %}

{% endblock %}