{% extends "accounts/base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>
        <a href="">
            {{ course }}
        </a>
    </li>
{% endblock %}

{% block menu_options %}
    <li class="pure-menu-heading">
        {{ course }}
    </li>
    <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">
            <i class="fas fa-video"></i>
            Aulas e Materiais
        </a> 
    </li>
    <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">
            <i class="fas fa-info-circle"></i>
            Informações
        </a> 
    </li>
    <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">
            <i class="fas fa-envelope"></i>
            Anúncios
        </a> 
    </li>
    <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">
            <i class="fas fa-comments"></i>
            Fórum de Dúvidas
        </a> 
    </li>
    {{ block.super }}
{% endblock %}